<h1>Edit Profile</h1>
<form action="/users/update/<%=@user.id%>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  First Name: <input type="text" name="user[first_name]" value="<%=@user.first_name%>">
  Last Name: <input type="text" name="user[last_name]" value="<%=@user.last_name%>">
  Email: <input type="text" name="user[email]" value="<%=@user.email%>">
  Location: <input type="text" name="user[location]" value="<%=@user.location%>">
  <select name="user[state]">
    <option value="CA">CA</option>
    <option value="AZ">AZ</option>
    <option value="NV">NV</option>
  </select>
  <input type="submit" value="Update Records">
</form>
